DATABASE_URL="[Supabase URL]"
# Use the same secret as JWT_SECRET_DEV for local development <> dev site compatibility
JWT_SECRET="[JWT_SECRET_DEV]"
# serverless-offline trips up trying to resolve references like !Ref CloakeryKV,
# as the simplest workaround we hardcode the name for local development.
TABLE_NAME_LOCAL_DEV="[TABLE_NAME_LOCAL_DEV]"